# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# Keep environment variables out of version control
.env
dist
coverage
build
prisma/dev.db
prisma/dev.db-journal